[submodule "HIT-Alibaba-interview"]
	path = HIT-Alibaba-interview
	url = https://github.com/HIT-Alibaba/interview
[submodule "ChenYilong-iOSInterviewQuestions"]
	path = ChenYilong-iOSInterviewQuestions
	url = https://github.com/ChenYilong/iOSInterviewQuestions.git
[submodule "iOS-Developer-Interview-Questions"]
	path = iOS-Developer-Interview-Questions
	url = https://github.com/lzyy/iOS-Developer-Interview-Questions.git
[submodule "iOS-Developer-and-Designer-Interview-Questions"]
	path = iOS-Developer-and-Designer-Interview-Questions
	url = https://github.com/CameronBanga/iOS-Developer-and-Designer-Interview-Questions.git
[submodule "LeetCode_Swift"]
	path = LeetCode_Swift
	url = https://github.com/soapyigu/LeetCode_Swift.git
[submodule "LeetCode_Swift3"]
	path = LeetCode-Solutions-in-Swift
	url = https://github.com/diwu/LeetCode-Solutions-in-Swift.git
[submodule "LeetCode_CPlusPlus"]
	path = LeetCode_CPlusPlus
	url = https://github.com/haoel/leetcode.git
[submodule "HowToBeAProgrammer"]
	path = HowToBeAProgrammer
	url = https://github.com/braydie/HowToBeAProgrammer.git
[submodule "The-Art-Of-Programming-By-July"]
	path = The-Art-Of-Programming-By-July
	url = https://github.com/julycoding/The-Art-Of-Programming-By-July.git
[submodule "iOS-Source-Probe"]
	path = iOS-Source-Probe
	url = https://github.com/Desgard/iOS-Source-Probe.git
[submodule "iOS-Source-Code-Analyze"]
	path = iOS-Source-Code-Analyze
	url = https://github.com/draveness/analyze.git
[submodule "ParseSourceCodeStudy"]
	path = ParseSourceCodeStudy
	url = https://github.com/ChenYilong/ParseSourceCodeStudy.git
[submodule "swift-algorithm-club"]
	path = swift-algorithm-club
	url = https://github.com/raywenderlich/swift-algorithm-club.git
[submodule "RuntimePDF"]
	path = RuntimePDF
	url = https://github.com/DeveloperErenLiu/RuntimePDF.git
[submodule "RuntimeAnalyze"]
	path = RuntimeAnalyze
	url = https://github.com/DeveloperErenLiu/RuntimeAnalyze.git
[submodule "objc-runtime"]
	path = objc-runtime
	url = https://github.com/RetVal/objc-runtime.git
[submodule "CS-Notes"]
	path = CS-Notes
	url = https://github.com/CyC2018/CS-Notes.git
[submodule "CrackingTheCodingInterview"]
	path = CrackingTheCodingInterview
	url = https://github.com/careercup/CtCI-6th-Edition.git
